@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote header p{
	margin: 1em;
	text-align: center;
}

/* begin verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}
/* end verse */

/* begin names written on the board */
#chapter-4 blockquote:nth-of-type(2),
#chapter-4 blockquote:nth-of-type(3),
#chapter-4 blockquote:nth-of-type(4) {
	font-style: italic;
	font-variant: normal;
	text-transform: uppercase;
	text-align: center;
}
/* end names written on the board */

/* begin poster */
#chapter-7 blockquote header p{
	text-transform: uppercase;
}

#chapter-7 blockquote > p:nth-of-type(1),
#chapter-7 blockquote > p:nth-of-type(2),
#chapter-7 blockquote > p:nth-of-type(7),
#chapter-7 blockquote > p:nth-of-type(10){
	text-align: center;
	text-indent: 0;
}

#chapter-7 blockquote > p:nth-of-type(6),
#chapter-7 blockquote > p:nth-of-type(8),
#chapter-7 blockquote > p:nth-of-type(9){
	text-indent: 0;
}

#chapter-7 blockquote > p:nth-of-type(3),
#chapter-7 blockquote > p:nth-of-type(6),
#chapter-7 blockquote > p:nth-of-type(8),
#chapter-7 blockquote > p:nth-of-type(9){
	margin-top: 1em;
}

#chapter-7 blockquote > p:nth-of-type(7),
#chapter-7 blockquote > p:nth-of-type(10){
	margin-top: 2em;
}

p span.floatl{
	display: inline-block;
	float: left;
}

p span.floatr{
	display: inline-block;
	float: right;
}
/* end poster */

/* begin bulletin board ad */
#chapter-9 blockquote header p:nth-of-type(1){
	margin-bottom: 0;
	text-transform: uppercase;
}

#chapter-9 blockquote header p:nth-of-type(2){
	font-variant: small-caps;
	margin-top: 0;
}
/* end bulletin board ad */

/* begin banners/proclamations/signs */
#chapter-11 blockquote{
	text-align: center;
}

#chapter-11 blockquote header p{
	text-transform: uppercase;
}

#chapter-11 blockquote:nth-of-type(1) p,
#chapter-11 blockquote:nth-of-type(2) p,
#chapter-11 blockquote:nth-of-type(9) p{
	text-indent: 0;
}

#chapter-11 blockquote:nth-of-type(8) > p:nth-of-type(1),
#chapter-11 blockquote:nth-of-type(8) > p:nth-of-type(2),
#chapter-11 blockquote:nth-of-type(9) > p:nth-of-type(2){
	text-align: initial;
}

#chapter-11 blockquote:nth-of-type(8) > p:nth-of-type(3),
#chapter-11 blockquote:nth-of-type(9) > p:nth-of-type(2){
	margin-top: 1em;
}

/* extra big and bold word in this banner */
#chapter-11 blockquote:nth-of-type(16) strong{
	font-size: larger;
	font-weight: bold;
	text-transform: uppercase;
}
/* end banners */

/* begin escalating emphasis */
#chapter-11 strong:nth-of-type(2){
	font-variant: normal;
	text-transform: uppercase;
}

#chapter-11 strong:nth-of-type(3){
	font-style: italic;
	font-variant: normal;
	text-transform: uppercase;
}
/* end escalating emphasis */

/* begin letter */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}
/* end letter */

.telegram{
	font-variant: all-small-caps;
}
